# Google Analytics 4 Measurement ID (format: G-XXXXXXXXXX)
# Récupérable dans Google Analytics > Administration > Flux de données > Flux Web.
# Tant que cette variable n'est pas définie, aucun script Google Analytics n'est chargé
# (même si le visiteur accepte les cookies).
NEXT_PUBLIC_GA_MEASUREMENT_ID=
